@using PetProjSite.Controllers;
<!-- загальна бібліотека
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
<!-- загальна бібліотека
<<link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" /> -->

<link rel="stylesheet" type="text/css" href="~/css/catalog.css">

<section>
    <div class="Products">
        @foreach (var product in Model)
        {

            <div class=Products__block>
                <div class="Products__img Products__img-hover">
                    <figure><img src="@product.product_photo"></figure>
                </div>
                <div class="Products__text">
                    @product.product_description
                </div>
                <div class="Products__BoxButton">
                    <form class="" asp-action="AddingToHistory" asp-controller="Profile" method="post">
                        <input type="hidden" name="productId" value="@product.id" />
                        <button class="Button" type="submit">
                            Переглянути
                        </button>
                    </form>

                    @if (LoginController.IsAdmin)
                    {
                        <form class="Products__buttons-admin" asp-action="GetProductId" asp-controller="Catalog" method="post">
                            <input type="hidden" name="catalogId" value="@product.id" />
                            <button class="Button Products__buttons-admin">Edit</button>
                        </form>
                        <form class="Products__buttons-admin" asp-action="DeleteProduct" asp-controller="Catalog" method="post">
                            <input type="hidden" name="catalogId" value="@product.id" />
                            <button class=" Button Products__buttons-admin">Delete</button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>
</section>

<button id="show" class="Button">
    Переглянути
</button>
<div class="Product" id="overlay">
    <!-- Зміст блоку Products__info -->
    <div class="Product__block">

        <div class="Product__img">
            <img src="https://i.imgur.com/yEA8ELv.jpeg">
        </div>

        <div class="Product__text">
            <p>Назва</p>
            <h3>Опис</h3>
            <p>текст</p>
            <h3>Характеристики</h3>
            <p>текст</p>
            
        </div>
    </div>
</div>