@using PetProjSite.Controllers;
<!-- загальна бібліотека
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
<!-- загальна бібліотека
<<link rel="stylesheet" href="~/PetProjSite.styles.css" asp-append-version="true" /> -->

<link rel="stylesheet" type="text/css" href="~/css/catalog.css">

        <section>
            <div class="ContainerProducts">
                @foreach (var product in Model)
                {

                    <div class=ContainerProducts__block>
                        <img src="@product.product_photo">
                        <div class="ContainerProducts__block-text">
                            @product.product_description
                        </div>
                        <div class="ContainerProducts__BoxButton">
                            <form class="rowname7" asp-action="AddingToHistory" asp-controller="Profile" method="post">
                                <input type="hidden" name="productId" value="@product.id" />
                                <button class="Button ContainerProducts__BoxButton-button" type="submit">
                                    Переглянути
                                </button>
                            </form>

                            @if (LoginController.IsAdmin)
                            {
                                <form class="rowname7" asp-action="GetProductId" asp-controller="Catalog" method="post">
                                    <input type="hidden" name="catalogId" value="@product.id" />
                                    <input type="submit" class="btn btn-primary edit-button" data-id="@product.id" value="Edit" />
                                </form>
                                <form class="rowname7" asp-action="DeleteProduct" asp-controller="Catalog" method="post">
                                    <input type="hidden" name="catalogId" value="@product.id" />
                                    <input type="submit" class="btn btn-primary edit-button" data-id="@product.id" value="Delete" />
                                </form>
                            }
                        </div>
                    </div>
                }
            </div>
        </section>
